{% extends 'base.j2' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome {{ current_user.username + ', ' if current_user.is_authenticated}}to the CC</h1>
    <p class="lead">Cloud Codebook</p>
  </div>
</div>

{% endblock %}